*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.gif
*.webp
*.svg
*.pt
*.pth
*.safetensors
checkpoints/
detr_tool_tracking_model_best/
detr_tool_tracking_model_final/
detr_tool_tracking_model_interrupted/
/.vscode/
/.idea/
